*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: grid;
  place-items: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  gap: 30px;
  padding: 133px 30px;
  grid-template-columns: 711px 1fr;
  align-items: end;
}

.content__details {
  display: flex;
  
  flex-direction: column;
  gap: 26px;
  justify-content: end;
  margin-left: 2px;
}

.result__video-container {
  position: relative;
  max-height: 386px;
  object-fit: cover;
  margin-bottom: 16px;
}

.result__video {
  display: block;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
  padding-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.content__video-card {
  display: flex;
  object-fit: cover;
  justify-content: space-between;
  
} 

.content__video-card-thumbnail {
  display: block;
  width: 193px;
  height: 103px;
}

.content__list-item {
  width: 394px;
  margin-bottom: 30px;
}

.content__list-item:last-of-type {
  margin-bottom: 0;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
  overflow-x: hidden;
}

.title {
  font-family: 'Oswald', serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(255, 255, 255, 0.5);
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__video-card-title {
  font-family: 'Oswald', serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #fff;
  line-height: 90%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
  font-family: inherit;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
  background-color: #000;
  border: 1px solid #fff;
}

input[type='checkbox']:checked + span {
  width: 19px;
  height: 19px;
  background-color: #fff;
  border: 2px solid #000;
  outline: 1px solid #fff;
}

.button {
  font-family: inherit;
  border: 1px solid currentColor;
  color: #fff;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 115%;
  cursor: pointer;
}

.search-form__submit-button {
  padding: 6px 0;
  align-self: end;
  display: block;
  width: 100%;
}

.more-button {
  padding: 6px 0;
  display: block;
  width: 399px;
  margin: 2px;
}

.search-form__textfield {
  display: block;
  width: 225px;
  background-color: transparent;
  font-family: inherit; 
  color: inherit;
  font-weight: 400; 
  font-size: 18px;
  line-height: 120%;
  border-left: none;
  border-right: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2px 0;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit; 
}

.search-form__textfield:focus {
  display: block;
  outline: none;
}

.search-form__label {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover:has(.search-form__checkbox), .button:hover, .content__card-link:hover {
  text-decoration: underline solid #fff;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active, .content__card-link_current, .content__card-link:active {
  background-color: rgb(84, 80, 80) ;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible { 
  outline: 1px solid #fff;
  outline-offset: 1px;        
}

